

<style type="text/css">
    td.htDimmed {
        background-color: rgba(50, 197, 208, 0.13);
        font-weight: bold;
    }
    
    .breadcrumb .fa  {
        font-size: 12px;
    }

    #example {
        margin-left: 20px;
    }

    .scroll-container {
        margin: 1rem 0 1rem;
        overflow: hidden;
        height: 700px;

    }  

</style>
<!-- BEGIN PAGE BREADCRUMB -->

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Home</a>
        <i class="fa fa-angle-right"></i>     
    </li>
    <li>
        <a href="#">Lines</a>
        <i class="fa fa-angle-right"></i> 
    </li>
    <li>
         <a href="#">ICMA 140/470</a>
         <i class="fa fa-angle-right"></i> 
    </li>
    <li>
        <a href="#">Issues</a>
        <i class="fa fa-angle-right"></i> 
    </li>
    <li class="active">Year 2017</li>
</ul> 

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="scroll-container">
        <div id="example"></div>
    </div>
        
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->